.artists {
  margin-top: -4rem;
  &_items {
    display: flex;
    &--item {
      flex-basis: 50%;
      height: 29.87rem;
      &-social {
        margin-top: 2rem;
        a {
          color: $theme_font_color;
          padding: 2px 0 4px;
          border-radius: 3px;
          background-color: $image_bg;
        }
      }
    }
  }
}
