.testimonials {
  @extend %skewed_shap_up !optional;
  background-color: $theme_bg;
  color: $theme_font_color;
  padding: 10rem 0;
  text-align: center;
  margin-top: -6.5rem;
  position: relative;
  z-index: 3;
  h2 {
    margin: 0 0 1rem 0;
  }
  &_client {
    cursor: grab;
    &-desc {
      font-size: 3.5rem;
      margin: 1rem 0;
      font-family: $logo_font_family;
      color: $image_bg;
      &::before,
      &::after {
        content: '"';
      }
    }
    &-name {
      font: {
        weight: bold;
        size: 1.2rem;
        style: italic;
      }
    }
  }
  .splide__pagination {
    bottom: -20%;
  }
  &_btn {
    position: relative;
    top: -5.8rem;
    left: 75%;
    z-index: 4;
    background-color: $image_bg;
    padding: 1rem;
    color: $theme_font_color;
    border: 2px solid currentColor;
    font-size: 1.2rem;
  }
}
